- register_javascripts "barclamps/glance/form"

= attributes_for @proposal do
  .panel-sub
    = header @dep_raw, true

  .panel-body
    = instance_field :rabbitmq
    = instance_field :keystone
    = select_field :notifier_strategy, :collection => :notifier_strategies_for_glance

    %fieldset
      %legend
        = t(".store_header")

      = select_field :default_store, :collection => :default_stores_for_glance

      #file_container
        = string_field :filesystem_store_datadir

      #swift_container
        = string_field %w(swift store_container)

      #rbd_container
        = string_field %w(rbd store_user)
        = string_field %w(rbd store_pool)

    %fieldset
      %legend
        = t(".ssl_header")

      = select_field %w(api protocol), :collection => :api_protocols_for_glance, "data-sslprefix" => "ssl", "data-sslcert" => "/etc/glance/ssl/certs/signing_cert.pem", "data-sslkey" => "/etc/glance/ssl/private/signing_key.pem"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required), "data-enabler" => "true", "data-enabler-target" => "#ssl_ca_certs"
        = string_field %w(ssl ca_certs)

    %fieldset
      %legend
        = t(".api_header")

      = boolean_field %w(api bind_open_address)

    %fieldset
      %legend
        = t(".cache_header")

      = boolean_field :enable_caching
      = boolean_field :use_cachemanagement
      = string_field :image_cache_datadir
      = integer_field :image_cache_grace_period
      = integer_field :image_cache_stall_timeout

    %fieldset
      %legend
        = t(".database_header")

      = integer_field :sql_idle_timeout
      = instance_field :database

    %fieldset
      %legend
        = t(".logging_header")

      = boolean_field :verbose

    = render "barclamp/git/pfsdeps"
