= attributes_for @proposal do
  .panel-sub
    = header show_raw_deployment?, true

  .panel-body
    = instance_field :database
    = instance_field :rabbitmq
    = instance_field :keystone

    %fieldset
      %legend
        = t(".store_header")
      = select_field :default_store, :collection => :default_stores_for_glance, "data-showit" => "file", "data-showit-target" => "#default_store_info", "data-showit-direct" => "true"
      #default_store_info
        .alert.alert-info{ "data-show-for-clusters-only" => "true", "data-elements-path" => "glance-server" }
          = t('.store.file_ha_info')

    %fieldset
      %legend
        = t(".store.file_header")
      = string_field :filesystem_store_datadir

    %fieldset
      %legend
        = t(".store.swift_header")
      = string_field %w(swift store_container)

    %fieldset
      %legend
        = t(".store.rbd_header")
      = string_field %w(rbd store_user)
      = string_field %w(rbd store_pool)

    %fieldset
      %legend
        = t(".store.vsphere_header")
      = string_field %w(vsphere host)
      = string_field %w(vsphere user)
      = password_field %w(vsphere password)
      = string_field %w(vsphere datastore)
      = string_field %w(vsphere datacenter_path)

    %fieldset
      %legend
        = t(".ssl_header")

      = select_field %w(api protocol), :collection => :api_protocols_for_glance, "data-sslprefix" => "ssl", "data-sslcert" => "/etc/glance/ssl/certs/signing_cert.pem", "data-sslkey" => "/etc/glance/ssl/private/signing_key.pem"

      #ssl_container
        = boolean_field %w(ssl generate_certs)
        = string_field %w(ssl certfile)
        = string_field %w(ssl keyfile)
        = boolean_field %w(ssl insecure)
        = boolean_field %w(ssl cert_required), "data-enabler" => "true", "data-enabler-target" => "#ssl_ca_certs"
        = string_field %w(ssl ca_certs)

    %fieldset
      %legend
        = t(".cache_header")

      = boolean_field :enable_caching
      = boolean_field :use_cachemanagement

    %fieldset
      %legend
        = t(".logging_header")

      = boolean_field :verbose
